apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: saas-framework
  labels:
    app: redis
    component: infrastructure
spec:
  selector:
    app: redis
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
    name: redis
  clusterIP: None
  type: ClusterIP
